body {
	margin: 0;
}

header {
	margin: 0;
	/* padding: 20px; */
	min-height: 100px;
	text-align: center;
	display: flex;
	justify-items: center;
	align-items: center;
}

header h1 {
	text-align: center;
	justify-items: center;
}